@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}


:root {
    --font-roboto: 'Roboto';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--font-roboto);
}

html:has(body.font-small) {
    font-size: 12px;
}

html:has(body.font-small) .settings-dropdown {
    width: 240px;
}

html:has(body.font-medium) {
    font-size: 16px;
}

html:has(body.font-large) {
    font-size: 20px;
}

html:has(body.font-large) .settings-dropdown {
    width: 350px;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.header-inner {
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
    background-color: #E5F1FE;
}


.header-actions,
.header-menu {
    display: flex;
    align-items: center;
    gap: 18px;
}

.burger-button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: none;
}

.burger-button svg path {
    fill: #016397;
}

.burger-button svg:nth-child(2),
.burger-button.active svg:nth-child(1) {
    display: none;
}

.burger-button.active svg:nth-child(2) {
    display: block;
}

.action-button {
    width: 33px;
    height: 33px;
    min-width: 33px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #006397;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 260ms ease-in, box-shadow 260ms ease-in;
    cursor: pointer;
    box-shadow: 0 0 0 1px transparent;
}

.profile-button {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.profile-button img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    object-position: center;
}

.action-button.active svg.fill path {
    fill: #FFFFFF;
}
.action-button.active svg.stroke path {
    stroke: #FFFFFF;
}


.action-button.active {
    background-color: #006397;
}


.action-button.disable {
    background-color: #DCDEE4;
    pointer-events: none;
    border: 1px solid #DCDEE4;
}
.action-button.disable svg.fill path {
    fill: #A0A3A9;
}
.action-button.disable svg.stroke path {
    stroke: #A0A3A9;
}

.language-select {
    position: relative;
}

.select-head {
    display: flex;
    align-items: center;
    width: 115px;
}


.language-select .value {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #000000;
    font-family: var(--font-roboto);
    font-size: 1.125rem;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
}

.language-select .value img {
    width: 48px;
    height: 30px;
}

.language-select .select-head .value {
    padding: 6px 6px 6px 12px;
}

.select-dropdown {
    position: absolute;
    top: 48px;
    z-index: 2;
    background-color: #ECF3FF;
    padding: 6px;
    border-radius: 15px;
    box-shadow: 0 6px 20px 4px rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    gap: 6px;
}

.settings-dropdown {
    position: absolute;
    top: 10px;
    right: 90px;
    z-index: 2;
    background-color: #ECF3FF;
    padding: 20px 10px;
    border-radius: 12px;
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    gap: 10px;   
    width: 290px; 
    color: #006397;
}
.settings-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bgcol-toggle span {
    width: 50px;
    height: 20px;
    min-width: 50px;
    border: 1px solid #006397;
    border-radius: 3px;
}

.settings-val span {
    display: none;
    cursor: pointer;
    user-select: none;
}
.settings-val span.active {
    display: block;
}

.settings-title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.875rem;
    color: #006397;
    font-weight: 700;
}

.settings-dropdown.active {
    display: flex;
}

.language-select.active .select-dropdown {
    display: flex;
}

.language-select.active .select-head svg {
    transform: rotate(180deg);
}

.select-dropdown::before {
    content: '';
    display: block;
    width: 24px;
    height: 16px;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0L21.3923 12H0.607696L11 0Z' fill='%23ECF3FF'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -14px;
    right: 20px;
}

.select-dropdown .value.active {
    background-color: #CCE5FF;
}

.main {
    flex: 1 0 auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    max-height: calc(100dvh - 80px);
}

.popup-container {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #ECF3FF;
    border-radius: 15px;
    width: 100%;
    max-width: 440px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px 30px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    /* transition: opacity 400ms ease-in; */
}

.parts-absolute {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.focus-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    position: absolute;
    bottom: 110px;
    right: 24px;
}

.primary-button {
    font-size: 0.875rem;
    background-color: #E7F2FF;
    color: #006397;
    padding: 10px 24px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}
.primary-button.active {
    background-color: #006397;
    color: #E7F2FF;    
}

.popup-container.active {
    opacity: 1;
    pointer-events: all;
}


.popup-close {
    background-color: transparent;
    border: none;
    align-self: flex-end;
}

.popup-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.375rem;
    font-weight: 500;
    font-family: var(--font-roboto);
    margin-bottom: 20px;
    padding-right: 25px;
}

.popup-text {
    font-family: var(--font-roboto);
    line-height: 120%;
    padding-right: 25px;
}

.popup-actions {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: auto;
    align-self: flex-end;
    padding-top: 20px;
}

.text-button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: #027BB9;
}

.footer-inner {
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 30px;
    background-color: #016397;
    color: #FFFFFF;
    border-radius: 16px 16px 0 0;
}
.slide-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 20px;
    background-color: #016397;
    color: #FFFFFF;
    border-radius: 16px 16px 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0; 
    overflow: hidden;
}

.slide-panel .button-slide {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.topic-title {
    font-size: 2rem;
    font-weight: 500;
}

#view3d,
#layer {
    position:absolute; 
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#layer {
    pointer-events:none;
    touch-action:none;
    user-select:none;

}

.surface-point {
    position:absolute;
    transform:translate( -50%, -50% );
    background-color:black;
    border-radius:50%;
    width:4px;
    height:4px;
    outline:solid 1px white;
}

.offset-point {
    position:absolute;
    transform:translate( -50%, -50% );
    background-color:black;
    padding:10px;
    border-radius:10px;
    pointer-events:auto !important;
    cursor:pointer;
    color:white;
    text-align:center;
    font-family:sans-serif;
}

.offset-point.selected  {
    background-color:green;
}

.line {
    position:absolute;
    width:50px;
    background-color:black;
    height:1px;
    transform-origin:top left;
}

.logo-dark {
    display: none;
}

.hidden {
    display:none;
}

body.dark-theme .primary-button {
    background-color: #08334E;
    color: #92CCFF;
}
body.dark-theme .primary-button.active {
    background-color: #92CCFF;
    color: #08334E;    
}
body.dark-theme .header-inner {
    background-color: #08334E;
}
body.dark-theme .settings-dropdown {
    background-color: #08334E;
    color: #92CCFF;
}
body.dark-theme .action-button {
    border: 1px solid #92CCFF;
}
body.dark-theme .action-button.active {
    background-color: #92CCFF;
}
body.dark-theme .action-button svg.fill path {
    fill: #92CCFF;
}
body.dark-theme .action-button.active svg.fill path {
    fill: #08334E;
}
body.dark-theme .action-button svg.stroke path {
    stroke: #92CCFF;    
}
body.dark-theme .action-button.active svg.stroke path {
    stroke: #08334E;    
}
body.dark-theme .footer-inner,
body.dark-theme .slide-panel {
    background-color: #92CCFF;
    color: #08334E;
}
body.dark-theme .settings-title {
    color: #92CCFF;
}
body.dark-theme .settings-title svg path {
    fill: #92CCFF;
}
body.dark-theme .settings-title svg path.invert {
    fill: #08334E;
}
body.dark-theme .logo-dark {
    display: block;
}
body.dark-theme .logo-light {
    display: none;
}
body.dark-theme .popup-container {
    background-color: #08334E;
    color: #92CCFF;
}
body.dark-theme .popup-close svg path {
    stroke: #92CCFF;
}

@media (max-width: 879px) {
    .header-inner,
    .footer-inner {
        height: auto;
        min-height: 82px;
        padding: 10px 16px;
    }
    .popup-container {
        top: 16px;
        right: 16px;
        width: 440px;
        max-width: calc(100vw - 32px);
    }

    .popup-container {
        padding: 15px 16px 24px;
    }

    .burger-button {
        display: block;
    }

    .topic-title {
        font-size: 1.5rem;
    }
    
    .header-menu {
        position: absolute;
        top: 86px;
        right: 10px;
        z-index: 3;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 6px;
        border-radius: 15px;
        background-color: #E7F2FF;
        box-shadow: 0 6px 20px 4px rgba(0, 0, 0, 0.4);
    }

    .header-menu.active {
        display: grid;
    }

    .language-select {
        grid-column: span 3;
        align-self: center;
        justify-self: center;
    }

    .settings-dropdown {
        right: 16px;
    }
}


@media (hover: hover) {
    .action-button:not(.disable):hover {
        /* background-color: #3181b7; */
    }
}
